/*.App {*/
  /*text-align: center;*/
/*}*/

/*.App-logo {*/
  /*animation: App-logo-spin infinite 20s linear;*/
  /*height: 80px;*/
/*}*/

/*.App-header {*/
  /*background-color: #222;*/
  /*height: 150px;*/
  /*padding: 20px;*/
  /*color: white;*/
/*}*/

/*.App-intro {*/
  /*font-size: large;*/
/*}*/

/*@keyframes App-logo-spin {*/
  /*from { transform: rotate(0deg); }*/
  /*to { transform: rotate(360deg); }*/
/*}*/

.book-holder{
  list-style: none;
  width:50%;
}

.book-holder li{
  position: relative;
}

.book-info{
  position: absolute;
  top: 20%;
  left:30%;
}

.modal{
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*width:100vw;*/
  /*height:100vh;*/
  background-color: rgba(2,2,2,0.3);
}