.App {
  /*text-align: center;*/
  width:100vw;
  height:100vh;
  /*background-color: rgba(200,117,51,0.6);*/
  /*background: linear-gradient(to bottom, rgba(243,226,199,1) 0%,rgba(140,104,53,1) 0%,rgba(165,114,38,1) 25%,rgba(178,129,57,1) 37%,rgba(178,125,46,1) 44%,rgba(183,131,53,1) 61%,rgba(160,101,12,1) 99%);*/
  background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
}



.main-book-holder{

}

.book-holder{
  list-style: none;
  width:250px;
  height:80vh;
  margin-top: 0;
  margin-bottom: 1px;
  padding-left: 0;
  overflow: auto;
  /*background-color: rgba(199,241,255,0.5);*/
  border-right: 1px solid black;
  background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);

  /*background: linear-gradient(to bottom, rgba(243,226,199,1) 0%,rgba(182,141,76,1) 0%,rgba(182,141,76,1) 25%,rgba(182,141,76,1) 37%,rgba(182,141,76,1) 44%,rgba(193,158,103,1) 61%,rgba(233,212,179,1) 100%);*/
}

.book-holder li{
  position: relative;
  border-bottom: 1px solid black;
  margin-bottom: 2px;
  /*box-shadow: 0 1px 3px 0;*/
  background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  /*background: linear-gradient(to bottom, rgba(243,226,199,1) 0%,rgba(182,141,76,1) 0%,rgba(182,141,76,1) 25%,rgba(182,141,76,1) 37%,rgba(182,141,76,1) 44%,rgba(193,158,103,1) 61%,rgba(233,212,179,1) 100%);*/
}
.book-holder li p{
  font-size: 21px;
  margin-left: 10px;
  margin-bottom: 0;
}



.book-info{
  position: absolute;
  top: 20%;
  right:51%;

}

.book-info .container{
  width: 300px;
}
.book-info  .col-md-4{
  width: 100%;
}
.modal{
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*width:100vw;*/
  /*height:100vh;*/
  background-color: rgba(2,2,2,0.3);
}

.App .page-header{
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 23px;
  background: linear-gradient(45deg, rgba(235,230,235,1) 0%, rgba(219,219,219,1) 47%, rgba(224,221,224,1) 100%);
  border-bottom: 1px solid grey;
}
.App > .btn {
  margin-left:48px;
}

.Search-control{
  position: absolute;
  top:45px;
  right: 50px;
  border-radius: 15px;
  width:185px;
  height:28px;
  font-size: 12px;
  background: linear-gradient(45deg, rgba(235,230,235,1) 0%, rgba(219,219,219,1) 47%, rgba(224,221,224,1) 100%);
}


.book-info > .container > .row  > .col-md-4 > .thumbnail{
  height: 505px;
  position: relative;
  box-shadow: 4px 8px 16px 3px;
  /*background: linear-gradient(to bottom, rgba(243,226,199,1) 0%,rgba(182,141,76,1) 0%,rgba(182,141,76,1) 25%,rgba(182,141,76,1) 37%,rgba(182,141,76,1) 44%,rgba(193,158,103,1) 61%,rgba(233,212,179,1) 100%);*/
}

/*.col-md-4{*/
  /**/
/*}*/
.info-btn-holder{
  position: absolute;
  bottom:30px;
  left: 0;
  width:100%;
  display: flex;
  justify-content: space-around;
}

.info-img{
  widht:200px;
  height: 100px;
}